body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.main {

    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.hero-inner {
    text-align: center;
}

.hero-logo img {
    max-width: 15%;
    border-radius: 100px;
}

.hero-inner {
    background: #f9f9f9;
    padding: 2rem 0;
}

.hero-inner h6 {
    font-size: 18px;

    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

.hero-inner h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.media-link a i {
    font-size: 30px;
    color: black;
    padding: 0 5px;
}

.hero-btn a {
    border: 2px solid black;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    color: black;
}

.hero-btn {
    margin-top: 30px;
}

#about,
#education {
    border: 1px solid #c6c7c7;
    padding: 50px;

}

h4 {
    padding-bottom: 6px;
    font-weight: 300;
    line-height: 29.12px;
    font-size: 26px;
}

.about-content2 {
    padding-left: 100px;
}

.active-color {
   font-weight: 800;
}

.active-section {
    width: 100%;
    float: left;
}

#about .about-content2 .row h6 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}

#about .about-content2 .row p {
    margin: 0;
    line-height: 30px;
}

#education {
    margin-top: 30px;
}

.media-link a i:hover, a{
   color: #000ff0;
}
.hero-btn a:hover{
    border: 2px solid;
    color: #fff;
    background-color: #000ff0;
 }
 